<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b> REGISTRO</b>
    </div>
    <div id="asd">
    <div class="card-body p-4">
      <label style="float: left;">Nombre</label>
      <input class="form-control m-2" type="email" placeholder="ingrese su nombre" [(ngModel)]="usuario.name">

      <label style="float: left;">Email</label>
      <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">

      <label style="float: left;">Contraseña</label>
      <input class="form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">

      <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Registrar</button>
      <!-- <button class="btn btn-info btn-block m-2" (click)="IngresarConGoogle()">Ingresar con google</button> -->
      <label>Ya tines cuenta? <a routerLink="/login">Ingresar</a></label>
    </div>


  </div>
</div>
</div>