<nav class="navbar navbar-light bg-light " style="padding: 0 1rem; box-shadow:  0 0 5px -1px rgb(255, 0, 0);">
    <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
        <img src="../../../assets/images/GDI1.png"
            width="50" height="50" class="d-inline-block align-top" alt="">
        
    </a>


    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user; else LoginButton">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <img style="border-radius: 100%;" *ngIf="user.photoURL" src="{{user.photoURL}}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            {{user.email}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
           
            <button ngbDropdownItem routerLink="/login" (click)="logOut()">Salir</button>
        </div>
    </div>

    <ng-template #LoginButton>
        <button class="btn btn-primary" routerLink="/login"> Ingresar</button>
    </ng-template>
</nav>