<div class="text-center m-3" >
    Bienvenidos al Foro
</div>
<div class="text-center m-3" *ngIf=" sorteo && !sorteo[0]; else reiniciarSorteo">
    <p>sientanse Libres de publicar y comentar con todo el debido respeto</p>
    <button class="btnSorteo" (click)="sortear()" [disabled]="!usuarios || usuarios.length<14">Empieza a publicar</button>
</div>
<ng-template #reiniciarSorteo>
    <div class="text-center m-3">

    </div>
</ng-template>

<!-- <mat-tab-group>
    <mat-tab label="Personas">
        <ol>
            <li *ngFor="let usuario of usuarios"> ( {{usuario.name}} ) </li>
        </ol>
    </mat-tab>
    
</mat-tab-group> -->